@page 
{
    size: auto;   /* auto is the initial value */
    margin: 0mm;  /* this affects the margin in the printer settings */
}

body 
{
    background-color:#FFFFFF; background-image:none; color:#000000;
    background-color:#FFFFFF; 
    border: solid 0px black ;
    margin: 0px;  /* this affects the margin on the content before sending to printer */
}
