<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Mateus_wcEntities" connectionString="metadata=res://*/EFModel.MateusEFModel.csdl|res://*/EFModel.MateusEFModel.ssdl|res://*/EFModel.MateusEFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DOMAGOJ-THINK;Initial Catalog=mateus_prd;User ID=sa;Password=fba82mka;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
