@{
    Session["PageTitle"] = "Greška 500";    
}

<div id="content">
    <div class="system-error internal-server-error">
        <h2>GREŠKA 500<span>GREŠKA NA SERVERU</span></h2>
        <p>Stranicu nije moguće učitati. Za detalje o ovoj grešci molimo da se obratite administratoru.</p>
    </div>
</div>