@{
    Session["PageTitle"] = "Greška 404";    
}

<div id="content">
    <div class="system-error not-found">
        <h2>GREŠKA 404<span>STRANICA NE POSTOJI</span></h2>
        <p>Stranica koju pokušavate učitati ne postoji. Za detalje o ovoj grešci molimo da se obratite administratoru.</p>
    </div>
</div>