@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h2>
        Dogodila se greška prilikom procesiranja zahtjeva.
    </h2>
</body>
</html>